* html #overlay {
	background-color: #000;
	back\ground-color: transparent;
	background-image: url('images/blank.gif');
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
}